*.iml
.gradle
/local.properties
.DS_Store
build
/captures
.externalNativeBuild
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/assetWizardSettings.xml
/.idea/markdown-navigator
/.idea/markdown-navigator.xml

# Do not commit APK or App Bundle files
*.apk
*.aab

# Do not commit plain release keys
signing/app-release.jks
signing/keystore.properties

# Do not commit Firebase config
google-services.json
